.dot {
  border-radius: 100%;
  border-style: solid;
  border-color: black;
  width: 10px;
  height: 10px;
  background-color: white;
}

.dot--state-delivered {
  background-color: green;
}

.dot--state-not-delivered {
  background-color: red;
}
